<h1>ユーザー一覧</h1>
<% @users.each do |user| %>
  <%= render partial: 'form2', locals: { user: user } %>
<% end %>

<p>
    <%= link_to "新規登録", new_user_path %>
</p>
<br>
<p>
  <%= link_to "ログイン画面はこちら", login_path %>
</p>
