<p>プロフィール画面</p>
<p>名前:<%= current_user.name %></p>
<p>email:<%= current_user.email %></p>
<%= link_to 'プロフィールの編集', edit_user_path(params[:id]) %>
<%= link_to '削除', user_path(params[:id]), method: :delete %>